<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>class</mat-icon>
    </button>
    <span>Digital Books</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-tab-group>
  <mat-tab label="First"> This is Content 1 </mat-tab>
  <mat-tab label="Second"> This is Content 2 </mat-tab>
  <mat-tab label="Third"> This is Content 3 </mat-tab>
</mat-tab-group>

